.test {
    border: 1px solid red;
}

* {
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
}

html {
    scroll-padding-top: 75px;
}

body {
    position: relative;
    background-color: #e9e6df;
    overflow: auto;
}

h1, h2, a, label {
    font-family: 'Pathway Gothic One', sans-serif;
    color:#29335cff;
}

h1 {
    font-size: 60px;
}

p {
    font-family: "Roboto", sans-serif;
    color:#29335cff;
    font-size: large;
}

label {
    color: #faa916ff
}

nav {
    background-color:#29335cff!important;
}

nav a {
    color: #faa916ff !important;
    border: rgba(250, 170, 22, 0) 2px solid!important;
    --bs-nav-link-font-size: 25px;
    color:#29335cff;
}

/* NAVIGATION */
nav a:hover {
    border: #faa916ff 2px solid!important;
}

.hero {
    height: 100vh;
    background-color:#29335cff;
}

.hero-text {
    border: #faa916ff 3px solid;
    color: #faa916ff;
    padding: 10px;
    font-size: 60px;
}

nav {
    margin-top: -75px;
}

.navbar-toggler{
    --bs-navbar-color:rgba(250, 170, 22, 0);
    --bs-navbar-toggler-border-radius: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    border: 0;
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(250, 169, 22, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }

  .active {
    border: #faa916ff 2px solid!important;
  }


  /* BODY */

  .main {
    height: 1500px
  }


  .quote-block {
    background-color: #29335cff;
    border-radius: 30px;
    color: #faa916ff;
  }

  .quote-block h2 {
    color: #faa916ff;
  }


.picture-frame {
    height: 350px;
}

.picture-frame img{
    object-fit: cover;
}

.frame-1 {
    height: 350px;
    border-radius: 30px 0 0 30px ;
}

.frame-2, .frame-3 {
    height: 175px;
}

.btn-primary {
    --bs-btn-color: #29335cff;
  --bs-btn-bg: #faa916ff;
  --bs-btn-border-color: #29335cff;
  --bs-btn-hover-color: #faa916ff;
  --bs-btn-hover-bg: #29335cff;
  --bs-btn-hover-border-color: #faa916ff;
  --bs-btn-focus-shadow-rgb: #29335cff;
  --bs-btn-active-color: #faa916ff;
  --bs-btn-active-bg: #29335cff;
  --bs-btn-active-border-color: #29335cff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/*          MEDIA QUERIES           */
@media only screen and (max-width: 992px) {
    p {
        font-size:medium;
    }

    h2 {
        font-size: 30px;
    }
    
    .hero-text, h1{
        font-size: 45px;
    }

    .quote-block, .frame-1{
        border-radius: 0;
    }
}